<h1>Noticias de tecnologia<h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quam fugit nobis obcaecati debitis quisquam veritatis aut enim minima quasi vero, voluptate totam. Consequuntur iste laudantium vel numquam pariatur corporis.</p>

<p><%= Time.now.strftime("%d-%m-%y") %></p>
